@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
// Variables
// Colors
/* HSL */
$color1: hsla(200%, 80%, 22%, 1);

$light1: #fafcfd;
$light2: #ddf0f4;
$text-color: #333;
$header-color: #0b4664;
$darkTone: #0b4664;
$lightTone: #b7d8df;
$redTone: #6e0c2a;
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $light1;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
/* Home Page CSS*/
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
      url("/pics/landing-background.jpeg");
    size: cover;
    position: center;
  }
  height: 100vh;
  #logo-div {
    margin-top: 30vh;
    margin-bottom: 50px;
  }
  #i0 {
    fill: hsla(200%, 80%, 40%, 1);
    fill-opacity: 0;
  }
  @keyframes fadeIn {
    0% {
      fill-opacity: 0;
      stroke-opacity: 1;
    }
    100% {
      fill-opacity: 1;
      stroke-opacity: 0;
    }
  }
  #navbar-home {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      li {
        float: left;
        a:hover {
          opacity: 1;
        }
      }
    }
  }
}
.navstyle {
  display: block;
  text-align: center;
  padding: 0px 25px;
  text-decoration: none;
  font-family: "Playfair Display", Courier, monospace;
  color: $header-color;
  font-size: 16pt;
  font-weight: 700;
  opacity: 0.8;
}
/* Main Navbar CSS */
#nav-div {
  position: sticky;
  top: 0;
  z-index: 1;
  #logo-link {
    #logo-nav {
      width: 34px;
      height: 46px;
      float: left;
      background: url(/pics/not-svg-logo-transparent.png) no-repeat;
      background-size: 100%;
      margin: 7px 0 7px 18px;
      &:hover {
        background: url(/pics/not-svg-logo.png) no-repeat;
        background-size: 100%;
      }
    }
  }
  #main-nav {
    height: 60px;
    background-color: $darkTone;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0 50px 0 0;
      overflow: hidden;
      li {
        float: right;
        a {
          color: $light1;
          margin-top: 16px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
#contact-nav {
  padding-right: 0px;
}
/* About Page CSS */
#about {
  background-color: $light1;
  display: grid;
  grid-template-columns: 490px 490px;
  grid-template-rows: 95px 138px 375px;
  justify-content: center;
  height: 608px;
  grid-column-gap: 126px;
  // padding-bottom: 50px;

  position: relative;
  border-top: 52px solid transparent;
  background-clip: padding-box;
  background: $light1;
}

#about:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid rgba(204, 204, 204, 0);
}
#title-about {
  height: 95px;
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
#title-about h2 {
  text-align: center;
  line-height: 95px;
  font-family: "Playfair Display", Courier, monospace;
  color: $header-color;
  font-size: 24pt;
  font-weight: 700;
}
#portrait {
  height: 513px;
  width: 490px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  img {
    border-radius: 4px;
    height: 513px;
    width: 490px;
  }
}
#about-me {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  h3 {
    font-family: "Playfair Display", Courier, monospace;
    color: $header-color;
    font-size: 18pt;
    font-weight: 700;
    margin: 0 0 14px 0;
  }
  p {
    font-family: "Open Sans", Courier, monospace;
    color: $text-color;
    font-size: 12pt;
    font-weight: 400;
  }
}
#skills {
  height: 375px;
  width: 490px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
}
/* project section layout */
#projects-title {
  width: 100%;
  height: 95px;
  text-align: center;
  line-height: 95px;
}
#projects-title h1 {
  font-family: "Playfair Display", Courier, monospace;
  color: $header-color;
  font-weight: 700;
  font-size: 24pt;
}
#project-nav {
  width: 800px;
  margin: 0 auto 35px auto;
}
#project-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.proj-nav-style {
  display: inline;
  padding: 22px;
  font-family: "Playfair Display", Courier, monospace;
  font-size: 18pt;
  font-weight: 700;
  line-height: 25px;
}
.proj-nav-style a {
  display: inline-block;
  padding: 0px;
  text-decoration: none;
  color: $header-color;
  opacity: 0.5;
}
.proj-nav-style a:hover {
  opacity: 0.7;
}
.selected {
  opacity: 0.9 !important;
}
.proj-style {
  width: 350px;
  height: 300px;
  position: relative;
  background-size: contain;
  box-shadow: 1px 2px 6px hsla(0, 0, 0, 0.2);
}
.proj-style h1 {
  font-family: "Playfair Display", Courier, monospace;
  font-size: 16pt;
  font-weight: 700;
  text-align: center;
  line-height: 16pt;
  color: $header-color;
  padding: 50px 0 20px 0;
}
.proj-style p {
  font-family: "Open Sans", Courier, monospace;
  font-size: 12pt;
  text-align: center;
  /* line-height: 12pt; */
  color: $text-color;
  margin: 0 auto;
  width: 80%;
}
.button-div {
  padding: 0 0.75em;
  background: $darkTone;
  color: #fff;
  border: none;
  outline: none;
  position: absolute;
  font-size: 14pt;
  font-family: "Open Sans";
  text-align: center;
  line-height: 45px;
  width: 125px;
  height: 45px;
  cursor: pointer;
  transition: 600ms ease all;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  border-radius: 2px;
}
.button-div:hover {
  background: $light1;
  color: $darkTone;
}
.button-div:before,
.button-div:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: $darkTone;
  transition: 300ms ease all;
}
.button-div:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button-div:hover:before,
.button-div:hover:after {
  width: 100%;
  transition: 600ms ease all;
}
#projects {
  height: auto;
  width: 1150px;
  margin: 0 auto;
}
#row1,
#row2,
#row3 {
  display: flex;
  flex-direction: row;
}
.get-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.get-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.right-space {
  margin-right: 50px;
}
.row-space {
  margin-bottom: 50px;
}
#proj1 {
  background-image: url(/preview_pics/prev1.jpg);
}
#proj2 {
  background-image: url(/preview_pics/prev2.jpg);
}
#proj3 {
  background-image: url(/preview_pics/prev3.jpg);
}
#proj4 {
  background-image: url(/preview_pics/prev4.jpg);
}
#proj5 {
  background-image: url(/preview_pics/prev5.jpg);
}
#proj6 {
  background-image: url(/preview_pics/prev6.jpg);
}
#proj7 {
  background-image: url(/preview_pics/prev7.jpg);
}
#proj8 {
  background-image: url(/preview_pics/prev8.jpg);
}
#proj9 {
  background-image: url(/preview_pics/prev9.jpg);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $light2;
}
#proj1:hover .overlay {
  opacity: 1;
}
#proj2:hover .overlay {
  opacity: 1;
}
#proj3:hover .overlay {
  opacity: 1;
}
#proj4:hover .overlay {
  opacity: 1;
}
#proj5:hover .overlay {
  opacity: 1;
}
#proj6:hover .overlay {
  opacity: 1;
}
#proj7:hover .overlay {
  opacity: 1;
}
#proj8:hover .overlay {
  opacity: 1;
}
#proj9:hover .overlay {
  opacity: 1;
}
/* -----------Modal slideshow styling --------------*/
/* Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // height: 90vh;
  height: 90%;
  width: 90vw;
}
#folio-link:hover {
  text-decoration: underline !important;
}
/* slideshow in the modal */
.mySlides1 {
  display: none;
}
.mySlides2 {
  display: none;
}
.mySlides3 {
  display: none;
}
.mySlides4 {
  display: none;
}
.mySlides5 {
  display: none;
}
.mySlides6 {
  display: none;
}
.mySlides7 {
  display: none;
}
.mySlides8 {
  display: none;
}
.mySlides9 {
  display: none;
}
.slide-items {
  display: flex;
  flex-direction: row;
}
.slide-items img {
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  margin-top: 2.75vh;
  height: auto;
  width: 62.5%;
  align-self: center;
}
.slide-items div {
  width: 25vw;
}
.slide-items h1 {
  font-family: "Playfair Display", Courier, monospace;
  font-size: 18pt;
  font-weight: 700;
  line-height: 18pt;
  color: $header-color;
  margin-bottom: 16px;
  margin-top: 100px;
}
.slide-items p {
  font-family: "Open Sans", Courier, monospace;
  font-size: 12pt;
  color: $text-color;
}
.slide-items h3 {
  position: absolute;
  font-family: "Open Sans", Courier, monospace;
  font-size: 12pt;
  color: $text-color;
  font-weight: 400;
  bottom: 7%;
  padding-right: 2.5vw;
  font-style: italic;
}
/* Next & previous buttons for slideshow */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: $text-color;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: #cccccc8f;
}
/* dot styling */
#dot-div {
  position: absolute;
  bottom: 2%;
  left: 45%;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 13px;
  background-color: #cccccc;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #333 !important;
}
.dot:hover {
  background-color: #808080;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.65s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* contact section css */
#contact {
  background-color: $light1;
}
#contact-wrapper h1 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-display: "Playfair Display";
  font-weight: 700;
  font-size: 24pt;
  color: $header-color;
}
#opportunities {
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-display: "Plaifair Display";
  font-size: 14pt;
  color: $text-color;
}
#contact-icons {
  margin: 0 auto;
  width: 70vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  svg {
    width: auto;
    height: 25px;
    opacity: 0.9;
    path {
      fill: $darkTone;
    }
  }
  svg:hover {
    opacity: 0.75;
  }
}
#mail,
#linkedin,
#facebook {
  margin-right: 3vw;
}
#footer {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  color: $header-color;
  height: 40px;
  line-height: 40px;
  background: $light2;
}

// skill chart styling

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.skills {
  width: 100%;
  max-width: 960px;
  height: 780px;
  margin: auto;
  position: relative;
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.chart {
  margin: 30px 0 0;

  &:first-child {
    margin: 0;
  }
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  $border-rad: 4px;
  height: 33px;
  margin-bottom: 10px;
  opacity: 0;
  background: linear-gradient(
    to left,
    hsla(200%, 80%, 35%, 1),
    hsla(200%, 80%, 27%, 1)
  );
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0 2px 4px hsla(0, 0, 0, 0.3);

  .chart--dev & {
    @include stagger-anim-delay(9, 0s, 0.2s);
  }
}

.animate-bars {
  animation: 1s anim-lightspeed-in ease forwards;
}

.chart__label {
  padding-left: 10px;
  line-height: 33px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1150px) {
  #projects {
    width: 350px;
    margin: 0 auto;
  }
  #row1,
  #row2,
  #row3 {
    display: block;
  }
  .row-space {
    margin-bottom: 0;
  }
  #portrait {
    display: none;
  }
  #about {
    grid-template-columns: auto;
  }
  #about-me {
    grid-column: 1 / 3;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
  }
  h3 {
    display: none;
  }
  #skills {
    grid-column: 1/3;
    width: 80vw;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 800px) {
  #project-nav {
    display: none;
  }
  #nav-div {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #contact-icons {
    flex-direction: column;
    height: 175px;
    margin-top: 40px;
  }
  #mail,
  #linkedin,
  #facebook,
  #instagram {
    padding-bottom: 10px;
    margin-right: 0;
  }
  #footer {
    font-size: 10px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 400px) {
  .navstyle {
    font-size: 14pt;
    padding: 0px 12px;
  }
}
