@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
}
body {
    background-color: #EFEFEF;
}

/* project section layout */
#projects-title {
    width: 100%;
    height: 95px;
    text-align: center;
    line-height: 95px;
}
#projects-title h1 {
    font-family: "Playfair Display", Courier, monospace;
    color: #333333;
    font-weight: 700;
    font-size: 24pt;
}
#project-nav {
    width: 800px;
    margin: 0 auto 35px auto;
}
#project-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.proj-nav-style {
    display: inline;
    padding: 22px;
    font-family: "Playfair Display", Courier, monospace;
    font-size: 18pt;
    font-weight: 700;
    line-height: 25px;
}
.proj-nav-style a {
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    color: #333333;
    opacity: 0.5;
}
.proj-nav-style a:hover {
    opacity: 0.7;
}
.selected {
    opacity: 0.9 !important;
}

.proj-style {
    width: 350px;
    height: 300px;
    position: relative;
    background-size: contain;
}
.proj-style h1 {
    font-family: "Playfair Display", Courier, monospace;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    line-height: 18pt;
    color: #333;
    padding: 50px 0 20px 0;
}
.proj-style p {
    font-family: "Open Sans", Courier, monospace;
    font-size: 12pt;
    text-align: left;
    line-height: 12pt;
    color: #333;
    margin: 0 auto;
    width: 75%;
}
/* will have to change centering method later */
.button-div {
    background-color: #EFEFEF;
    width: 125px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    color: #333;
    border: 2px solid #333;
    font-family: "Open Sans";
    font-size: 14pt;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
}
.button-div:hover {
    background-color: #333; 
    color: #EFEFEF; 
    border: 2px solid #333;
}

#projects {
    height: auto;
    width: 1150px;
    margin: 0 auto;
}
#row1 {
    display: flex;
    flex-direction: row;
}
#row2 {
    display: flex;
    flex-direction: row;
}
#row3 {
    display: flex;
    flex-direction: row;
}
.get-out {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.get-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}
.right-space {
    margin-right: 50px;
}
.row-space {
    margin-bottom: 50px
}
#proj1 {
    background-image: url(prev1.jpg);
}
#proj2 {
    background-image: url(prev2.jpg);
}
#proj3 {
    background-image: url(prev3.jpg);
}
#proj4 {
    background-image: url(prev4.jpg);
}
#proj5 {
    background-image: url(prev5.jpg);
}
#proj6 {
    background-image: url(prev6.jpg);
}
#proj7 {
    background-image: url(prev7.jpg);
}
#proj8 {
    background-image: url(prev8.jpg);
}
#proj9 {
    background-image: url(prev9.jpg);
}

.overlay {
    position: absolute;
    top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     background-color: rgb(225, 235, 238);
}
#proj1:hover .overlay {
    opacity: 1;
}
#proj2:hover .overlay {
    opacity: 1;
}
#proj3:hover .overlay {
    opacity: 1;
}
#proj4:hover .overlay {
    opacity: 1;
}
#proj5:hover .overlay {
    opacity: 1;
}
#proj6:hover .overlay {
    opacity: 1;
}
#proj7:hover .overlay {
    opacity: 1;
}
#proj8:hover .overlay {
    opacity: 1;
}
#proj9:hover .overlay {
    opacity: 1;
}


/* Modal slideshow styling */


/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: 600px;
    width: 1150px;
}

/* slideshow in the modal */
.mySlides {
    display: none;
}
.slide-items {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
}
.slide-items img {
    padding-right: 100px;
    height: 400px;
    width: 500px;
}
.slide-items h1 {
    font-family: "Playfair Display", Courier, monospace;
    font-size: 18pt;
    font-weight: 700;
    line-height: 18pt;
    color: #333333;
    margin-bottom: 16px;
}
.slide-items p {
    font-family: "Open Sans", Courier, monospace;
    font-size: 12pt;
    color: #333333;
}
/* Next & previous buttons for the slideshow */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* dot styling */
#dot-div {
    position: absolute;
    bottom: 20px;
    left: 45%;
    background-color: blue;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 13px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #333;
}
.dot:hover {
    background-color: #808080;
} 
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}