@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
}
body {
    background-color: #EFEFEF;
}

/* project section layout */
#projects-title {
    width: 100%;
    height: 95px;
    text-align: center;
    line-height: 95px;
}
#projects-title h1 {
    font-family: "Playfair Display", Courier, monospace;
    color: #333333;
    font-weight: 700;
    font-size: 24pt;
}
#project-nav {
    width: 33vw;
    margin: 0 auto 35px auto;
}
#project-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.proj-nav-style {
    display: inline;
    padding: 22px;
    font-family: "Playfair Display", Courier, monospace;
    font-size: 18pt;
    font-weight: 700;
    line-height: 25px;
}
.proj-nav-style a {
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    color: #333333;
    opacity: 0.5;
}
.proj-nav-style a:hover {
    opacity: .9;
}
/* remember to add an "active class" with js to make sure that it's fully opaque when active */
.proj-nav-style a:selection {
    opacity: 1;
    color: green;
}

#proj1 h1,
#proj1 p,
#proj1 div {
    visibility: hidden;
}
#proj1:hover h1,
#proj1:hover p,
#proj1:hover div {
    visibility: visible;
}
.proj-style {
    background-color: paleturquoise;
    width: 350px;
    height: 300px;
}

.proj-style h1 {
    font-family: "Playfair Display", Courier, monospace;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    line-height: 18pt;
    color: #333;
    padding: 50px 0 20px 0;
}
.proj-style p {
    font-family: "Open Sans", Courier, monospace;
    font-size: 12pt;
    text-align: left;
    line-height: 12pt;
    color: #333;
    margin: 0 auto;
    width: 75%;
}
/* .proj-style:hover {
    opacity: 0.5;
} */
/* will have to change centering method later */
.button-div {
    background-color: palegoldenrod;
    width: 115px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    color: #333;
    border: 2px solid #4caf50;
    font-size: 14pt;
    /* transition-duration: 0.4s; */
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
}
.button-div:hover {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 50px;
    justify-content: center;
}



/* Modal slideshow styling */


/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: 600px;
    width: 1150px;
}

/* slideshow in the modal */
.mySlides {
    display: none;
}
.slide-items {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
}
.slide-items img {
    padding-right: 100px;
    height: 400px;
    width: 500px;
}
.slide-items h1 {
    font-family: "Playfair Display", Courier, monospace;
    font-size: 18pt;
    font-weight: 700;
    line-height: 18pt;
    color: #333333;
    margin-bottom: 16px;
}
.slide-items p {
    font-family: "Open Sans", Courier, monospace;
    font-size: 12pt;
    color: #333333;
}
/* Next & previous buttons for the slideshow */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* dot styling */
#dot-div {
    position: absolute;
    bottom: 20px;
    left: 45%;
    background-color: blue;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 13px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #333;
}
.dot:hover {
    background-color: #808080;
} 
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}